# Python
__pycache__/
*.py[cod]
*$py.class
venv/
.venv/

# Django
*.log
db.sqlite3
db.sqlite3-journal
staticfiles/
media/

# Ambiente
.env
.env.local

# IDE
.vscode/
.idea/
*.swp

# Sistema
.DS_Store
Thumbs.db
